@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Playpen+Sans+Arabic:wght@100..800&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
    background-image:linear-gradient(to right, #000046, #1cb5e0);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
a{
  color: white;
  text-decoration: none;
}
.contaniar{
  background-image:linear-gradient(to right, #031033bb ,   #13315c4f),
   url(download.webp);
  width:90%;
  height: 90%;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contaniar:hover{
  background-image:linear-gradient(to right, #031033bb , transparent),
   url(download.webp);
  width:90%;
  height: 90%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  
  
}
.logo{
 font-size: 30px;
 text-transform: uppercase;
}
ul{
  width: 30%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
ul a{
  border-bottom:   2px solid transparent;

}
ul a:hover {
  border-bottom:   2px solid white;
}
.content{
  padding: 20px;
  margin-top: 20px;
}
h2{
  font-size: 50px;
  color: white;
  font-family: 'Changa', sans-serif;
}
p{
  font-size: 20px;
  color: white;
  font-family: 'Playpen Sans Arabic', sans-serif;
  line-height: 1.5;
  margin: 20px 0;
  width: 45%;
}
.content button{
  margin-top: 40px;
  padding: 10px;
  border-radius: 10px;
  border:2px solid transparent;
  cursor: pointer;

}
.content button:hover{
  background-color:  transparent;
  border-color:white;
  color:white;
}
